$SP4: 4px;
$SP8: 8px;
$SP16: 16px;
$SP24: 24px;
$SP32: 32px;
$SP40: 40px;
$SP48: 48px;
$SP56: 56px;
$SP62: 62px;
$SP70: 70px;

:export {
  SP4: $SP4;
  SP8: $SP8;
  SP16: $SP16;
  SP24: $SP24;
  SP32: $SP32;
  SP40: $SP40;
  SP48: $SP48;
  SP56: $SP56;
  SP62: $SP62;
  SP70: $SP70;
}
