$border-ui-color: #d8dbe0 !default;
$border-ui-hover-color: #b6bac6 !default;
$border-ui-selected-color: #131f3c !default;
$border-layout-color: #c6cbd3 !default;
$border-focus-color: #1971d8 !default;
$border-error-color: #bb1a1a !default;
$border-error-hover-color: #a91818 !default;
